.movie-card {
    display:flex;
    flex-direction : column;
    align-items: center;
    background: whitesmoke;
    border-radius: 10px;
    border: lightgrey double 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px; 
    margin: 10px;   
    height: 23rem;
    width: 80%;
}

.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    border: darkred double 5px;
}

.movie-card img {
    
    height: 275px;
    object-fit: contain;
    margin-bottom: .7rem;
    transition: transform 0.3s ease; 
}

.movie-card:hover img {
    transform: scale(1.1);
}

.movie-card h1 {
    font-size: 1.2rem;
}

.movie-card:hover h1 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}   